html {
  background-color: white;
  color: #202124;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 18px;
  line-height: 1.6;
  margin: 3em auto;
  max-width: 900px;
  width: 95%;
  text-underline-position: under;
}

a {
  color: #e4493f;
}

a:hover {
  text-decoration: none;
}

footer {
  margin-top: 2em;
}

h1,
h2,
h3 {
  line-height: 1.2;
  font-family: 'PT Mono', monospace;
}

h2 {
  margin-top: 2em;
}

hr {
  border-color: gainsboro;
  border-style: solid;
  border-top: 0;
}

ul {
  list-style-type: square;
}

.feature {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 300px;
}

.map-top {
  height: 100%;
  width: 50%;
  display: inline-block;
}

.feature p {
  width: 50%;
  display: inline-flex;
}

.feature p img {
  width: 90%;
  margin: 0 auto;
}

iframe {
  max-width: 100%;
  width: 640px;
  height: 400px;
}