<!DOCTYPE >
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{{ title }}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;600&family=PT+Mono&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css" type="text/css" media="screen" />
    <link rel="shortcut icon" type="image/jpg" href="/images/bagel-fav.png"/>
  
    <meta property="og:title" content="{{  title | escape }}">
    <meta property="og:type" content="website"/>

    {% if site.author.twitterHandle %}
      <meta name="twitter:creator" content="@{{ site.author.twitterHandle | replace('@', '') }}"/>
    {% endif %}

    {% if desc %}
      <meta name="description" content="{{ desc | escape  }}">
      <meta property="og:description" content="{{ desc | escape }}">
      <meta name="description" content="{{ desc | escape }}"/>
    {% endif %}

    {% if socialImage %}
      <meta property="og:image" content="{{ socialImage | url }}"/>
      <meta name="twitter:image" content="{{ socialImage | url }}"/>
    {% endif %}

  </head>

  <body>
    {{ content | safe }}
  </body>
</html>
